<div class="col-sm-6">
  <img src={{item.image}} alt={{item.name}} class='img-responsive center-block'/>
  <h4>{{item.name}}</h4>
  <p>{{item.price}}</p>
  <h4>{{#link-to 'item' item.id}}Buy now{{/link-to}}</h4>
</div>
